



@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');

span {
    font-weight: bold;
}

h1{
    font-size: 50px; 
    line-height: 10px; 
    text-align: center;
    text-transform: capitalize;
    text-decoration: underline; 
}

div{
    font-size: 20px;
}

h2{
    font-size: 2em;
}

li{
    letter-spacing: 2;
}

#characters{
    font-size: 18px ;
}

h4{
    letter-spacing: 4;
}
